body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

h1{
    background-color: rgb(21, 126, 21);
    height: 5px;
    border-radius: 2px;
}
.card-body{
    box-shadow: 0px 15px 10px -15px rgb(197, 194, 194);
    border-top: 5px green; 
    border-radius: 2px;
}

    